/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff9f0;
  color: #333;
  padding: 20px;
}

/* Estilizando o cabeçalho */
header {
  background-color: #160d0d;
  color: white;
  text-align: center;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  font-style: italic;
}

header img {
  max-width: 40%;
  height: auto;
  border-radius: 3px;
  margin-top: 8px;
}

/* Estilizando as seções */
section {
  margin: 30px 0;
  background-color: #fff;
  padding: 20px;
  border-left: 5px solid #e67e22;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
  color: #d35400;
  font-size: 2rem;
  font-weight: bold;
}

/* Novidades e Ofertas Especiais */
#novidades, #ofertas {
  background-color: #f9f9f9;
  border-left: 5px solid #2ecc71;
}

#novidades ul, #ofertas ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#novidades li, #ofertas li {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 1.2rem;
}

#novidades li img, #ofertas li img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.avaliacao {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}